bashrc-local.sh
bat/.config/bat/themes
hypr/.config/hypr/colors.conf
hyprland-local.conf
kitty/.config/kitty/colors.conf
lazy-lock.json
settings-local.lua
television/.config/television/themes/matugen.toml
tmux/.config/tmux/plugins
waybar/.config/waybar/colors.css
